<?php echo $header; ?>
<?php echo $content_top; ?>      
<div class="container">
  <div class="row"><?php echo $column_left; ?>
    <?php if ($column_left && $column_right) { ?>
    <?php $class = 'col-sm-6'; ?>
    <?php } elseif ($column_left || $column_right) { ?>
    <?php $class = 'col-sm-9'; ?>
    <?php } else { ?>
    <?php $class = 'col-sm-12'; ?>
    <?php } ?>
    <div id="content" class="<?php echo $class; ?>">             
        <br/><?
            echo $content_bottom; 
        ?>                
        <?php 
            echo $home_cells;
        ?>                
    </div>

    <?php echo $column_right; ?></div>
</div>
<div id="instgram-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="double-hr" style="margin-top : 30px; margin-bottom: 0px;"><h3>Instagram</h3></div>
                <!-- INSTANSIVE WIDGET --><script src="//instansive.com/widget/js/instansive.js"></script>
            <iframe src="//instansive.com/widgets/6ce2132f22b131c5d7b04628e0ff2e9af2997945.html" id="instansive_6ce2132f22" name="    instansive_6ce2132f22"  scrolling="no" allowtransparency="true" class="instansive-widget" style="width:     100%; border: 0; overflow: hidden;"></iframe>
            </div>
        </div>    
    </div>
</div>
<?php echo $footer; ?>
<?php echo $callbackrequest; ?>